.elementor-112 .elementor-element.elementor-element-ddc9eb3{text-align:center;width:100%;max-width:100%;}.elementor-112 .elementor-element.elementor-element-ddc9eb3 .elementor-image img{opacity:0.83;}